@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

:root {
  /* font-family */
  --title: Galmuri11, 'Noto Sans KR', sans-serif;

  /* color */
  --logo: #BB8E7B;
  --button: #BB8E7B;
  --body: #F0F6F6;
  --display: #594958;
  --display-border: #e8f5f9;
  --border: #BB8E7B;
  --black: #555;
  --status: #C1E2D7;
  --print: #94c2b2;
  --time: #51b390;
}