@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  background: var(--border);
}

/* common */
.wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* ========== print routine popup section ========== */
.print-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 23em;
  padding: 3em;
  border-radius: 0.3em;
  text-align: center;
  background: var(--body);
  font-family: var(--title);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  z-index: 999;
  font-size: 0.8em;
  transition: transform 150ms ease-in;
}

.hidden {
  display: none;
}

.print-popup h1 {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 2px dashed black;
}
.print-popup h2 {
  width: 100%;
  padding-bottom: 0.5em;
  border-bottom: 2px dashed black;
}

.routine-list {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  letter-spacing: 1.5;
}
.routine-list li {
  display: flex;
  justify-content: space-between;  
  padding: 0.5em;
  border-bottom: 1px dotted grey;
}
.routine-list li:last-child {
  border-bottom: none;
}

.total-time {
  color: var(--button);
  font-size: 2em;
  width: 100%;
  padding-top: 0.8em;
  border-top: 2px dashed black;
}
.close {
  all: unset;
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  font-size: 1.8em;
  cursor: pointer;
  transition: color 100ms ease-in;
}
.close:hover {
  color: var(--button);
}
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .5;
  z-index: 99;
  transition: opacity 150ms ease-in;
}

.backdrop-hidden {
  opacity: 0;
  z-index: 0;
}


/* ========== machine section ========== */
.machine {
  position: relative;
  background: var(--body);
  padding: 4em 1.5em 2em;
  border-radius: 0.5em;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  overflow: hidden;
}
.machine::before {
  content: '';
  position: absolute;
  display: block;
  height: 2em;
  width: 100%;
  background: var(--display);
  top: 0;
  left: 0;

}
.machine::after {
  content: '';
  position: absolute;
  display: block;
  height: 1em;
  width: 100%;
  background: var(--display);
  bottom: 0;
  left: 0;
}

.machine h1 {
  font-family: var(--title);
  color: var(--logo);
  text-align: center;
  margin-bottom: 0.8em;
  font-size: 1.3em;
}

.top {
  display: flex;
  align-items: center;
}
/* ========== display section ========== */
.display {
  background: var(--display);
  border-radius: 0.5em;
  overflow: hidden;
  margin-right: 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.item {
  display: grid;
  grid-template-columns: repeat(3, 6em);
  grid-template-rows: repeat(3, 9em);
}

.item li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 30px solid var(--display-border);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.item li img {
  position: absolute;
  bottom: 0;
  width: 4.3em;
  /* background: var(--display-border); */
  /* padding: 0 0.7em;
  padding-top: 2em; */
  border-radius: 5em 5em 0 0;
  /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
}
.item li input {
  position: absolute;
  bottom: -24px;
  font-family: var(--title);
  color: var(--display-border);
  letter-spacing: 1.7;
  background: var(--button);
  border: none;
  border-radius: 0.3em;
  font-size: 0.7em;
  padding: 0.3em 0.7em 0.1em 0.9em;
  box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
}


.item li input:active {
  box-shadow: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 10px -20px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.item li input:hover {
  cursor: pointer;
}

/* ========== side button section ========== */
.input {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: var(--display-border);
  padding: 1em;
  border-radius: 0.4em;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.status {
  background: var(--status);
  font-family: var(--title);
  padding: 1em 0.5em;
  margin-bottom: 1em;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.status p {
  margin: 0.5em 0;
  font-size: 0.8em;
}

.status h2 {
  font-size: 1.1em;
}
.status h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0 0.3em;
  background: var(--print);
  color: var(--display-border);
  width: 7em;
  height: 1.5em;
}

.time {
  color: var(--time);
}

/* setting */
.setting {
  font-family: var(--title);
}

.setting p {
  font-size: 0.8em;
  margin-bottom: 0.2em;
  color: var(--print);
}
.setting input {
  margin-bottom: 1em;
  width: 3.7em;
  padding: 0.2em 0;
  font-family: inherit;
  font-size: 0.7em;
  color: var(--display-border);
  background: var(--button);
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
}

.setting input:active {
  box-shadow: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 10px -20px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/* print */
.print {
  margin-top: 2rem;
  width: 100%;
  padding: 2.5rem 0;
  font-family: var(--title);
  font-size: 2.5em;
  letter-spacing: 20;
  color: var(--display-border);
  border: none;
  border-radius: 0.2em;
  background: var(--button);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -50px 36px -28px inset;
  
}

.print:active {
  box-shadow: rgba(0, 0, 0, 0.5) 0px -50px 36px -18px inset;
}